<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <style>
        .h2-text {
            color: red;
        }
    </style>
</head>
<body>
<h1 id="h1-text">H1 text</h1>
<p>Основной текст страницы</p>
<h2 class="h2-text">H2 text</h2>
<div class="container">
    <h2>Заголовок блока</h2>
    <p>Текст внутри блока</p>
    <a href="https://example.com">Перейти на сайт</a>
    <a href="https://example.com" target="_blank">Перейти на <span style="color: green">сайт</span> в соседней вкладке</a>
    <img src="https://i.pinimg.com/474x/8a/e9/ed/8ae9ed1a33832cc81db2cd8b597aac71.jpg" alt="Описание изображения" style="width: 250px">
    <ul>
        <li>Пункт 1</li>
        <li>Пункт 2</li>
    </ul>
    <ol>
        <li>Первый пункт</li>
        <li>Второй пункт</li>
    </ol>

    <form action="/submit" method="POST">
        <input type="text" placeholder="Введи текст" value="12345">
        <input type="email" placeholder="email">
        <input type="password" placeholder="password">
        <textarea placeholder="Введи текст">234</textarea>
        <button type="submit">Кнопка</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Ячейка 1</td>
            <td>Ячейка 2</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ячейка 3</td>
            <td>Ячейка 4</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>